body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}
.input{
    width: 250px;
    background-color: rgba(32, 31, 31, 0.781);
    border: none;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
}
.main{
    background-color: rgba(32, 31, 31, 0.781);
    height: 300px;
    width: 250px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.input input{
    border-radius:25px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    margin: 9px;
    height: 50px;
    width: 160px;
}
.input button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:solid 1px white;
    color: white;
    background-color: transparent;
}
.numbers{
    height: 2000px;
    width:150px;
    padding-left: 6px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
} 
.numbers button{
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    border: solid 1px white;
}